.App {
  text-align: center;
  margin-top: 40px;
  border: 2px solid  rgb(14, 22, 32);
  border-radius: 10px;
  background: #42ad4b;
  box-shadow: 23px 18px 35px -13px rgba(0,0,0,0.4);
  width: 800px;
}

.btn {
  margin: 30px 20px;
  padding: 10px 20px;
  font-size: 20px;
  background: #d86161;
  border: none;
  color: rgb(226, 231, 238);
  border-radius: 10px;
  box-shadow: 15px 10px 20px -13px rgba(0,0,0,0.4);
  border: 1px solid rgb(16, 43, 17);
}

.circle {
  display: inline-block;
  border: 1px solid rgb(16, 43, 17);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #c7c7c7;
  margin: 50px 10px;
  box-shadow: 23px 18px 35px -13px rgba(0,0,0,0.4);
}
